<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/uploadtraining" method="post" enctype="multipart/form-data" >
    <label class="btn btn-default btn-file">
        Browse <input type="file" name="file">
    </label>
    <input type="submit" value="Upload your image" class="btn btn-primary">
</form>

<form action="/uploadrecognize" method="post" enctype="multipart/form-data" >
    <label class="btn btn-default btn-file">
        Browse <input type="file" name="file2">
    </label>
    <input type="submit" value="Upload your image2" class="btn btn-primary">
</form>

</body>
</html>